@model TemplateMVC.Core.Models.Suppliers.Supplier;

@{
    Layout = "_Layout";
    ViewBag.Title = "Supplier Details";
}

<div class="card">
    <div class="card-body">
        <p><strong>Supplier ID:</strong> @Model.SupplierId</p>
        <p><strong>Supplier Name:</strong> @Model.SupplierName</p>
        <p><strong>Identification Number:</strong> @Model.IdentificationNumber</p>
        <p><strong>Primaira Phone:</strong> @Model.PrimaryPhone</p>
        <p><strong>Secondary Phone:</strong> @Model.SecondaryPhone</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Address:</strong> @Model.Address</p>
        <p><strong>Created At:</strong> @Model.CreatedAt</p>
        <p><strong>Updated At:</strong> @Model.UpdatedAt</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="/suppliers">Back to List</a>
        <a class="btn btn-primary" href="/suppliers/@Model.UniqueId/edit">Edit</a>
    </div>
</div>