@model Pagination<TemplateMVC.Core.Models.Suppliers.Supplier>

@{
    Layout = "_Layout";
    ViewBag.Title = "Suppliers";

    int pageIndex = ViewBag.PaginationParam.PageIndex;
    int pageSize = ViewBag.PaginationParam.PageSize; 
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <form asp-action="Index" method="get" class="d-flex">
        <div class="input-group">
            <input type="text" name="SearchString" value="@ViewBag.CurrentSearch" 
                   class="form-control" placeholder="Name or Identification Number" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <a asp-action="Index" class="btn btn-outline-secondary ms-2">Reset</a>
    </form>
    
    <div>
        <a href="/suppliers/create" class="btn btn-primary">Add New</a>
        <a href="/suppliers/import-csv" class="btn btn-primary">Import CSV</a>
    </div>
</div>

@if (Model.Metadata.TotalItems > 0)
{
    <p><strong>Total: </strong>@Model.Metadata.TotalItems records</p>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>
                    <a href="/suppliers?pageIndex=@pageIndex&pageSize=@pageSize&sortOrder=@ViewBag.NameSort">
                       Supplier Name
                    </a>
                </th>
                <th>
                    <a href="/suppliers?pageIndex=@pageIndex&pageSize=@pageSize&sortOrder=@ViewBag.IdentSort">
                        Identification Number
                    </a
                </th>
                <th>Email</th>
                <th>Phone</th>
                <th>Created At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.SupplierId</td>
                    <td>@item.SupplierName</td>
                    <td>@item.IdentificationNumber</td>
                    <td>@item.Email</td>
                    <td>@item.PrimaryPhone</td>
                    <td>@item.CreatedAt</td>
                    <td>
                        <div class="btn-group">
                            <a href="/suppliers/@item.UniqueId/edit" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/suppliers/@item.UniqueId/delete" class="btn btn-danger btn-sm">Delete</a>
                            <a href="/suppliers/@item.UniqueId/details" class="btn btn-info btn-sm">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.HasNextPage())
    {
        <nav>
            <ul class="pagination">
                <li class="page-item @(Model.HasPreviousPage() ? "" : "disabled")">
                    <a class="page-link" href="@(Model.HasPreviousPage() ? Model.Metadata.FirstPageUrl : "#")">First</a>
                </li>
                <li class="page-item @(Model.HasPreviousPage() ? "" : "disabled")">
                    <a class="page-link" href="@(Model.HasPreviousPage() ? Model.Metadata.PreviousPageUrl : "#")">
                        <i class="bi bi-chevron-left"></i> Previous
                    </a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">Page @(Model.Metadata.PageIndex+1) of @(Model.Metadata.TotalPages+1)</span>
                </li>
                <li class="page-item @(Model.HasNextPage() ? "" : "disabled")">
                    <a class="page-link" href="@(Model.HasNextPage() ? Model.Metadata.NextPageUrl : "#")">
                        Next <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
                <li class="page-item @(Model.HasNextPage() ? "" : "disabled")">
                    <a class="page-link" href="@(Model.HasNextPage() ? Model.Metadata.LastPageUrl : "#")">Last</a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <div class="alert alert-warning">No results found</div>
    }
}
else
{
    <div class="alert alert-warning">
        No records found
    </div>
}